html, body {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center; 
  min-height: 100vh; 
}

body {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background: rgb(56, 51, 49);
  color: rgb(255, 255, 255);
}

button {
  border: none;
  background: rgb(248, 223, 205);
  color: rgb(56, 51, 49);
  font-size: 1em;
  padding: 0 45px;
  border-radius: 10px;
  height: 50px;
  font-weight: 800;
  cursor: pointer;
  box-shadow: 0px 5px 0px rgb(133, 119, 109);  transition: .4s;

}

button:hover {
  background-color: rgb(204, 182, 166);
  box-shadow: 0px 5px 0px rgb(83, 75, 69);
}